<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.elegosproject.romupdater"
      android:versionName="1.13.5" android:versionCode="22">
    <application
    	android:label="@string/app_name"
    	android:icon="@drawable/ic_launcher_romupdater">
        <activity android:name=".ROMUpdater"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".VersionSelector" android:label="@string/view_available_updates" android:configChanges="orientation" />
    <activity android:name=".VersionsList" android:label="@string/view_versions_list" android:configChanges="orientation" />
    <activity android:name=".Preferences" android:label="@string/view_preferences" android:configChanges="orientation" />
    <activity android:name=".RepositoriesList" android:label="@string/view_repositories" android:configChanges="orientation" />
    <activity android:name=".Restore" android:label="@string/view_restore" android:configChanges="orientation" />
    <activity android:name=".Downloads" android:label="@string/view_downloads" android:configChanges="orientation" />
</application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 